{% block meta %}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
{% endblock %}
{% if GOOGLE_ANALYTICS %}
<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("{{ GOOGLE_ANALYTICS }}");
			pageTracker._trackPageview();
		} catch(err) {}</script>
{% endif %}
{% if GAUGES_ANALYTICS %}
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '{{ GAUGES_ANALYTICS }}');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
<script id="mcjs">!function(c,h,i,m,p)
    {m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}
    (document,"script","https://chimpstatic.com/mcjs-connected/js/users/16a87523400ff7f556208af
    30/c0a3e80a51b1b02657e4c6b9b.js");
</script>
{% endif %}
